.welcome-container {
  height: 600px;
  width: 100%;
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.welcome-animation {
  width: 250px;
  max-width: 90%;
  margin-bottom: 20px;
  animation: fadeIn 2s ease-in-out;
}
.welcome-animation img {
  width: 350px;
  height: auto;
  border-radius: 10px;
}

.welcome-content {
  animation: slideUp 1.5s ease forwards;
  opacity: 0;
  margin-right: 25px;
}

.fade-in-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
}

.fade-in-subtitle {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 30px;
}

.explore-button {
  padding: 12px 24px;
  font-size: 1rem;
 background-color: #6a11cb;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.welcome-content a{
  text-decoration: none;
}

.welcome-content a:hover {
  background-color: #2575fc;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 768px) {
  .welcome-container {
    flex-direction: column;
    height: auto;
    padding: 10px;
    flex-wrap: wrap-reverse;
  }
  .welcome-animation img {
    width: 100%;
    max-width: none;
    margin-top: 60px;
  }
  .welcome-content {
    margin-right: 0;
    margin-top: 20px;
  }
  .fade-in-title {
    font-size: 2rem;
  }
  .fade-in-subtitle {
    font-size: 1rem;
  }
  
}
